.title  {
    display: grid;
    width:100%;
    grid-template-columns: 250px 250px 200px 200px 200px 20px;
    grid-gap: 10px;
    margin-left: 10px;
    vertical-align: middle;
    color:rgb(2, 2, 118);
    font-style: oblique;
    /* text-decoration-line: underline; */
}
.list {
    display: grid;
    grid: row;    
    width:100%;
    grid-template-columns: 250px 250px 200px 200px 200px 20px 20px;
    grid-gap: 10px;
    margin-left: 10px;
    vertical-align: middle;
    color:rgb(2, 2, 118);
}
.changeColor {
    color:blueviolet;
}

span {
    font-size: 20px;
}



.container {
    margin-left: 200px;
}

.form_element {
    margin: 5px 0px;
    display: grid;
    grid:   column;
    grid-template-columns: 200px 300px;
}

.form_element label, span {
    display: inline-flex;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 20px;
}

input {
    font-size: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
}

.form_element select, textarea{
    font-size: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
}

