.titleTable  {
    display: grid;
    width:1240px;
    grid-template-columns: 250px 250px 200px 230px 250px 60px;
    text-align: left;
    margin-left: 100px;
    vertical-align: middle;
    color:rgb(227, 227, 232);
    font-style: oblique;
    font-size: 16px;
    background-color: #7e7b6d;
}

.listTable {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid: row;    
    width:1240px;
    grid-template-columns: 250px 250px 200px 230px 250px 30px 30px;
    margin-left: 100px;
    vertical-align: middle;
    color:rgb(2, 2, 118);
}

th {
    border: 1px solid #dddddd;
    border-bottom-style: none;
}
.th1 {
    border: 1px solid #dddddd;
    border-bottom-style: solid;
    border-top-style: none;
}
.th2 {
    border-right-style: none;
    border-bottom-style: solid;
    border-top-style: none;
    padding-top: 6px;
}
.th3 {
    border-left-style: none;
}

td, th {
    text-align: left;
    padding: 4px;
  }

 .td1 {
    cursor:pointer;
 } 
 
tr:nth-child(even) {
    background-color: #dddddd;
  }
.tr1:nth-child(odd) {
    background-color: #86805f;
  }
.changeColor {
    color:blueviolet;
}

span {
    font-size: 20px;
}



.container {
    margin-left: 200px;
}

.form_element {
    margin: 5px 0px;
    display: grid;
    grid:   column;
    grid-template-columns: 200px 300px;
}

.form_element label, span {
    display: inline-flex;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 20px;
}

input {
    font-size: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
}

.form_element select, textarea{
    font-size: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
}
