header {
  height: 40px;
  width:100%;
  border-bottom: 1px solid #b6b6b6;
  box-sizing: border-box;
  background: #d68585;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 25px;
  column-gap: 30px;
  vertical-align: middle;
}

.body1 {
  display:block;
  background-color: rgb(247, 241, 243);
  text-align: center;
  background: #d68585;
}


.footer {
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #b6b6b6;
    background: #d68585;
    text-align: right;
}
.footerText {
  padding-right: 20px;
}