header {
  display:flex;
  justify-content:space-between;
  height: 40px;
  width:100%;
  color:rgb(227, 227, 232);
  border-bottom: 1px solid #b6b6b6;
  background-color: #7e7b6d;
  box-sizing: border-box;
  margin-bottom: 10px;
  vertical-align: middle;
}

.titleHeader {
  text-align: left;
  font-size: 25px;
}
.titleButton {
  text-align: right;
  height: 15px;
  font-size: 15px;
  padding-top: 10px;
  margin-right:10px;
  color:rgb(227, 227, 232);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 22px;
  column-gap: 30px;
  vertical-align: middle;
}

.footer {
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #b6b6b6;
    background-color: #7e7b6d;
    text-align: right;  
    color:rgb(227, 227, 232);

}
.footerText {
  padding-right: 20px;
}
